<header>
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <div class="flex align-items-end">
        <img
          src="/assets/logo.svg"
          class="m-2 sm:m-3 mr-5 h-2rem sm:h-4rem"
          alt="brand logo"
        />
        <nav class="hidden sm:inline-flex">
          <p-tabMenu class="nav-tab px-2" [model]="items"></p-tabMenu>
        </nav>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <a
        href="https://github.com/guifonte/dev-ice"
        target="_blank"
        class="no-underline"
      >
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-github"
          class="
            github-btn
            p-element
            p-button-text
            p-button-rounded
            p-button-plain
            p-button-lg
            p-ml-2
            p-button
            p-component
            p-button-icon-only
          "
        ></button>
      </a>
    </ng-template>
  </p-menubar>
</header>
